.body {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
}

.top-bar {
    width: 100%;
    height: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.search-comp {
    width: 50%;
    position: relative;
}
.glass {
    position: absolute;
    left: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.6rem;
    top: 0.2rem
}

.search-box {
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
    border-left: none;
    outline: none;
    padding-left: 2rem;
    border-radius: 0.5rem;
}

.sort {
    background: inherit;
    color: #F9FAFB;
    width: 2rem;
    height: 2rem;
    mix-blend-mode: exclusion;
    cursor: pointer;
}

.sort-text {
    min-width: 6rem;
    font-size: 0.9rem;
    display: block;
}

@media only screen and (max-width: 640px) {
    .sort-text {
        display: none;
    }

}