.body {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2rem;
    padding: 2rem 0 0 0;
}

.top-bar {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-comp {
    width: 60%;
    position: relative;
    margin-top: 1.5rem;
}
.glass {
    position: absolute;
    left: 0.2rem;
    width: 1.5rem;
    height: 1.5rem;
    font-size: 1.6rem;
    top: 0.2rem
}

.search-box {
    width: 100%;
    height: 1.8rem;
    font-size: 1rem;
    border-left: 1.5rem solid #fff;
    border-radius: 0.5rem;
}