.wrapper {
    width: 15rem;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid #ffffff; */
    border-radius: 0.7rem;
    padding: 1rem;
    background-color: rgb(218, 223, 228);
    position: relative
}

.title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.details {
    display: flex;
}
.card-image {
    max-width: 80%;
    max-height: 7rem;
}

.description {
    margin: 5px 0;

}

.rating {
    position: absolute;
    top: -0.9rem;
    right: -0.9rem;
    width: 2.6rem;
    height:2.6rem;
    background-color: rgba(255, 124, 124, 0.856);
    border-radius: 50%;
    font-size: 0.95rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    gap: 3px
}
.star {
    color: rgb(255, 255, 0);
    /* margin-left: 3px */
}