.modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    min-height: 100dvh;
    overflow: hidden;
    background-color: rgba(165, 165, 165, 0.6);
    display: none;
    z-index: 2;
}

.open {
    display: flex
}